
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 ul{
    padding-left: 15px;
 }
/*selettore background e titolo pagina*/
#header{
    background-color:lightskyblue;
    background-image: url(../img/pattern.png);
    padding-top: 60px;
    background-size: 500px;
    background-position:10px 0px;
}

.margin{
    margin-left: 10px;
}

h1{
    font-size: 50px;
}
/*selettori per sottotitolo*/
.autore1{
    color:grey;
    font-size: 20px;
}

.autore2{
    color: rgb(107, 213, 255);
    font-size: 20px;
}

.autore3{
    color: grey;
    font-size: 15px;
}

.spazio{
    margin-top: 20px;
}

/*inizio tabella*/
table{
border-collapse:collapse ;
}

.thead{
    width: 300px;
    background-color: aqua;
}

.tbody{
    background-color:skyblue;
}

.tbody2{
    background-color:white;
}
/*fine tabella*/
h5{
    color: gray;
    margin-top: 20px;
}
/*immagini footer*/
#imggraph{
    display: block;
    margin-top: 5px;
}